{form form}
	<div class="form-group has-feedback">
		{input email, class => form-control}
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	</div>
	<div class="form-group has-feedback">
		{input password, class => form-control}
		<span class="glyphicon glyphicon-lock form-control-feedback"></span>
	</div>
	<div class="checkbox icheck">
		<label>
		{input remember}
		</label>
	</div>
		{input send, class => "btn btn-primary btn-block btn-flat"}
{/form}