<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta n:foreach="$metas as $name => $content" name="{$name}" content="{$content}">
<meta n:foreach="$httpEquivs as $httpEquiv => $content" http-equiv="{$httpEquiv}" content="{$content}">