{control doctype}
<html lang="{$locale}">
	<head>
		{control meta}
		{control title}
		{block styles}
		<link rel="stylesheet" href="{$basePath}/css/admin.min.css">
		{/block}
		{control favicon}
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		{block scripts}
		<script type="text/javascript" src="{$basePath}/js/admin.min.js"></script>
		{/block}
		<div class="wrapper">
			<header class="main-header">
				<a n:href=":Dashboard:Front:Dashboard:" class="logo">
					<span class="logo-mini"><span class="fa fa-share"></span></span>
					<span class="logo-lg"><b>Zpět do aplikace</b></span>
				</a>
				<nav class="navbar navbar-static-top">
					<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>

					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
						</ul>
					</div>
				</nav>
			</header>
			{control adminMenu}
			<div class="content-wrapper">
				{control flash}
				<section class="content-header">
					<h1>{include title}</h1>
				</section>
				<section class="content">
					{include content}
				</section>
			</div>

			<footer class="main-footer">
				{*<div class="pull-right hidden-xs">
					<b>Version</b> 2.3.8
				</div>
				<strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
				reserved.*}
			</footer>
		</div>
	</body>
</html>