<html>
	{control doctype}
	<head lanf="{$locale}">
		{control meta}
		{control title}
		{block styles}
		<link rel="stylesheet" href="{$basePath}/css/front.min.css">
		{control css}
		{/block}
		{control favicon}
	</head>
	<body class="hold-transition login-page">
		{block scripts}
		<script src="{$basePath}/js/front.min.js"></script>
		{control js}
		{/block}
		{control flash}
		{include content}
	</body>
</html>