{snippet}
<div n:foreach="$flashes as $flash" class="alert alert-dismissable alert-{$flash->type}">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {$flash->message}
</div>
{/snippet}